@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  /*colors*/
  --color-button: #EF6860;
  --color-card-bg: #FFF6EB;


  --color-pri-text: #1F110A;
  --color-sec-text: #FAC9AE;
  --color-ter-text: #EF6860;
  --color-light-bg: #FFE5D4;
  --color-sec-bg: #AF8D79;
  --color-dark-bg: #53392B;


  /*typography*/
  --font-family-title: 'Playfair Display';
  --font-family-body: 'Source Sans 3';

  --font-size-h1: 3rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-h4: 1.25rem;
  --font-size-h5: 1rem;
  --font-size-h6: 0.875rem;
  --font-size-body: 1rem;
  --font-size-links: 1rem;

  --font-line-height-h1: 1.2em;
  --font-line-height-h2: 1.3em;
  --font-line-height-h3: 1.3em;
  --font-line-height-h4: 1.4em;
  --font-line-height-h5: 1.5em;
  --font-line-height-h6: 1.5em;
  --font-line-height-body: 1.6em;
  --font-line-height-links: 1.6em;

  --font-letter-space-h1: 0.05em;
  --font-letter-space-h2: 0.03em;
  --font-letter-space-h3: 0.03em;
  --font-letter-space-h4: 0em;
  --font-letter-space-h5: 0em;
  --font-letter-space-h6: 0em;
  --font-letter-space-body: 0em;
  --font-letter-space-links: 0em;

  /*Borders*/
  --border-radius: 10px;

  /*Shadow*/
    --box-shadow-base: 0 2px 5px #53392b3d;
    --box-shadow-hover: 0 4px 8px #53392b64;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-h1);
  line-height: var(--font-line-height-h1);
  letter-spacing: var(--font-letter-space-h1);
  color: var(--color-pri-text);
  text-transform: capitalize;
}

h2 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-h2);
  line-height: var(--font-line-height-h2);
  letter-spacing: var(--font-letter-space-h2);
  color: var(--color-pri-text);
  text-transform: capitalize;
}

h3 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-h3);
  line-height: var(--font-line-height-h3);
  letter-spacing: var(--font-letter-space-h3);
  color: var(--color-pri-text);
  text-transform: capitalize;
}

h4 {
  font-family: var(--font-family-body);
  font-size: var(--font-size-h4);
  line-height: var(--font-line-height-h4);
  letter-spacing: var(--font-letter-space-h4);
  color: var(--color-pri-text);
  text-transform: capitalize;
}

h5 {
  font-family: var(--font-family-body);
  font-size: var(--font-size-h5);
  line-height: var(--font-line-height-h5);
  letter-spacing: var(--font-letter-space-h5);
  color: var(--color-light-bg);
}

h6 {
  font-family: var(--font-family-body);
  font-size: var(--font-size-h6);
  line-height: var(--font-line-height-h6);
  letter-spacing: var(--font-letter-space-h6);
  color: var(--color-sec-text);
}

p {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  line-height: var(--font-line-height-body);
  letter-spacing: var(--font-letter-space-body);
  color: var(--color-pri-text);
}

a {
  font-family: var(--font-family-body);
  font-size: var(--font-size-links);
  line-height: var(--font-line-height-links);
  letter-spacing: var(--font-letter-space-links);
  color: var(--color-sec-text);
  text-decoration: none;
}

a:hover {
color: var(--color-ter-text);
}