@import "./base.css";

/* General Style for Buttons */
.pri-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: auto;
    max-width: 150px;
    border: none;
    border-radius: var(--border-radius);
    padding: 0.6em 1.2em;
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    text-transform: capitalize;
    text-align: center;
    color: var(--color-light-bg);
    background-color: var(--color-button);
    box-shadow: var(--box-shadow-base);
    cursor: pointer;
}

.sec-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: auto;
    max-width: 150px;
    border-width: 2px;
    border-radius: var(--border-radius);
    border-color: var(--color-button);
    padding: 0.6em 1.2em;
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    text-transform: capitalize;
    color: var(--color-button);
    background-color: var(--color-light-bg);
    box-shadow: var(--box-shadow-base);
    cursor: pointer;
}


/* Carousel - arrow buttons */
.carousel-arrow-btns{
    border: 2px solid var(--color-button);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 200ms ease;
    pointer-events: auto;
}

.carousel-arrow-btns i{
    color: var(--color-button);
    background-color: transparent;
    font-size: var(--font-size-h3);
}

/* Carousel - buttons */
.carousel-nav{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 50%;
    border: none;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.3s;
    background-color: var(--color-button);
    cursor: pointer;
}

.carousel-nav.active{
    opacity: 1;
}


/* Back Btn */
.back-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 40px;
    width: auto;
    max-width: 150px;
    border: none;
    border-radius: var(--border-radius);
    padding: 0.6em 1.2em;
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    text-transform: capitalize;
    text-align: center;
    color: var(--color-light-bg);
    background-color: var(--color-button);
    box-shadow: var(--box-shadow-base);
    cursor: pointer;
}


/* Share Btn */
.share-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 40px;
    width: auto;
    max-width: 150px;
    border: none;
    border-radius: var(--border-radius);
    padding: 0.6em 1.2em;
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    text-transform: capitalize;
    text-align: center;
    color: var(--color-light-bg);
    background-color: var(--color-button);
    box-shadow: var(--box-shadow-base);
    cursor: pointer;
}


/* GENERAL HOVER Effects */
.pri-btn:hover, .sec-btn:hover, .carousel-arrow-btns:hover, .back-btn:hover, .share-btn:hover {
    transform: scale(1.1);
    box-shadow: var(--box-shadow-hover);
}

/*Tablet*/
@media (max-width: 770px) {
    .carousel-arrow-btns {
        width: 32px;
        height: 32px;
    }
    
    .carousel-arrow-btns i {
        font-size: var(--font-size-h4);
    }
}

/*Mobile*/
@media (max-width: 430px) {
    .carousel-arrow-btns {
        display: none;
    }
}