/*FOOTER - Start*/
.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--color-dark-bg);
    padding: 20px;
}
  
.footer-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-links{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  text-transform: capitalize;
}

footer hr{
  margin-top: 20px;
  width: 80%;
  border: 0;
  height: 1px;
  background-color: var(--color-ter-text);
}

footer h6{
  text-align: center;
  margin-top: 20px;
}

/*Tablet*/
@media (max-width: 425px){
  .footer-container{
    flex-direction: column;
    align-items: center;
  }

  .footer-links{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
/*FOOTER - End*/