/*ABOUT - Start*/
.about-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.about-us{
  padding: 20px;
  gap: 1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-base);
  background-color: var(--color-card-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.about-img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid black;
}

.about-img img{
  width: 100%;
  object-fit: cover;
  object-position: center;
}
/*ABOUT - End*/


/*NEWSLETTER - Start*/
.newsletter-section{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  height: 300px;
  background-color: var(--color-sec-bg);
}

.newsletters{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.news-img{
  border: 2px solid black;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 100%;
}

.news-img i{
  font-size: var(--font-size-h2);
}

.news-title{
  margin-top: 10px;
  text-transform: capitalize;
}

.news-form-box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 15px;
}

.news-form-box input{
  height: 40px;
  max-width: auto;
  padding-left: 10px;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-base);
  text-transform: capitalize;
  background-color: var(--color-light-bg);
}
/*NEWSLETTER - End*/


/* MOBILE */
@media (max-width: 430px) {
  .about-section{
    margin: 20px 10px;
  }
}