.blog-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 64px;
    cursor: default;
}


.blog-btns{
    display: flex;
    align-items: center;
    gap: 25rem;
    margin-top: 10px;
}

.blog-details h1{
    margin-top: 30px;
}

.blog-subtitles{
    display: flex;
    align-items: center;
    gap: 16rem;
    margin: 10px 0 10px;
    font-family: var(--font-family-title);
}

.blog-content{
    padding: 0 20px 30px;
    font-family: var(--font-family-body);
}


/* MOBILE */
@media (max-width: 430px) {
  .blogs-details{
    padding: 0 10px 0;
  }

  .blog-subtitles, .blog-btns{
    flex-wrap: wrap;
    gap: 1rem;
  }

  .blog-details h1, .blog-content{
    padding: 0 10px 30px;
    text-align: center;
  }
}