@import "./base.css";
@import "./buttons.css";
@import "./nav.css";
@import "./index.css";
@import "./carousel.css";
@import "./footer.css";



* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body{
  width: 100%;
  min-height: 100dvh;
  background-color: var(--color-light-bg);
}

/*Sign Up - Start*/
.sign-up-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 1rem;
  text-transform: capitalize;
}

.sign-up{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-transform: capitalize;
}
/*Sign Up - End*/