@import "./base.css"; /*typography, colors, etc*/
@import "./buttons.css";
@import "./authentication.css"; /*log in, sign up pages*/
@import "./nav.css";
@import "./index.css";
@import "./carousel.css";
@import "./postCard.css"; /*posts*/
@import "./postPage.css"; /*posts page*/
@import "./footer.css";


* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body{
  width: 100%;
  min-height: 100dvh;
  background-color: var(--color-light-bg);
}

img{
  max-width: 600px;
  width: 100%;
}